# Tuplas, Listas y Diccionarios

Hasta ahora hemos trabajado con tipos de data como `str`, `int` y `float`. Muchos problemas comunes son mas facil de resolver cuando ciertos tipos de datos son combinados para crear estructuras de datos mas complejas.

Una **estructura de dato** modela una coleccion de data, como una lista de numeros, una fila de una hoja tabulada o un registro en una base de datos. Modelar la data que el programa utiliza, usando la estructura de dato correcta, es muchas veces la llave para escribir codigo simple y efectivo.

Python tiene tres estructuras de datos incorporadas que son el enfoque de este capitulo: tuplas, listas y diccionarios.

En esta seccion, aprendermos:
* Como trabajar con tuplas, listas y diccionarios
* Que es la immutabilidad y porque es importante
* Cuando utilizar estructuras de datos distintas

## Las tuplas son secuencias inmutables

Una **secuencia** es una lista ordenada de valores. Cada elemento en una secuencia tiene un numero entero asignado, denominado **indice**, que terina el orden en el cual su valor aparece.

Por ejemplo, las letras del alfabeto son una secuencia que empieza con la letra A y termina con la letra Z. Los strings tambien son secuencias. El string `Panama` tiene 6 elementos, comenzando con `P` en el indice `0` y terminando con `a` en el indice `5`.

Algunos de los problemas realies de las secuencias incluyen valores emitidos por un sensor cada segundo, la secuencia de las notas estudiantiles, o la secuencia de los valores de las acciones en una empresa sobre un periodo de tiempo.

En esta seccion aprenderemos como utilizar el tipo de dato incorporado `tuple`,para crear una secuencia de valores.

### Que es una tupla?

La palabra proviene de la matematica, que es utilizado para describir una secuencia ordenada de valores. Usualmente los matematicos escriben tuplas ingresando cada elemento separado por una coma, dentor de un parentesis, e.g. (1, 2, 3) es una tupla que contiene 3 numeros enteros.

Tuplas son ordenadas porque sus elementos aparecen en orden. El primero elemento de `(1, 2, 3)` es `1`, el segundo elemento es `2` y el tercero es `3`.

Python utiliza el mismo nombre y manera de escribirla (notacion)

### Como crear una Tupla

Existen algunas maneras de crear una tupla en Python. Vamos a explicar dos de ellas:
1. Literales de Tupla
2. El incorporado `tuple()`

### Literales de Tupla

Asi como el literal string es un string que es explicitamente creado por rodear algo de texto con citas o comillas, un literal de tupla es una tupla que esta explicitamente escrita como una lista de valores separados con coma y rodeados de parentetis.

In [2]:
primera_tupla = (1, 2, 3)

In [3]:
type(primera_tupla)

tuple

In [4]:
# las tuples pueden guardar cualquier tipo de elemento
segunda_tupla = (1, True, 'hola')
segunda_tupla

(1, True, 'hola')

In [6]:
# tambien podemos tener una tupla vacia
tupla_vacia = ()
tupla_vacia

()

In [10]:
# esto no crea una tupla
x = (1)
type(x)

int

In [11]:
x

1

In [13]:
# necesitamos la coma
x = (1,)
type(x)

tuple

In [14]:
x

(1,)

### `tuple()`

In [15]:
tuple('Panama')

('P', 'a', 'n', 'a', 'm', 'a')

In [16]:
# tuple acepta unicamente un solo parametro
tuple(1, 2, 3)

TypeError: tuple expected at most 1 argument, got 3

In [17]:
tuple(1)  # el parametro tiene que ser iterable / secuencia

TypeError: 'int' object is not iterable

In [18]:
# esto si sirve
tuple()

()

### Similitudes entre Tuplas y Strings

Las Tuplas y los Strings tienen mucho en comun: a
* ambos son tipos de secuencia con finita longitud, 
* ambos aceptan indexacion y segmentacion, 
* ambos son inmutables y 
* ambos pueden ser iterados en un ciclo. 

La diferencia principal entre strings y tuplas es que los elementos de las tuplas pueden ser de cualquier valor, meitnras que los elementos de un string solo pueden ser caracteres.

In [19]:
# Tuplas tienen longitud
numeros = (1, 2, 3)
len(numeros)

3

In [22]:
# Tuplas tinen indexacion
valores = (1, 3, 5, 7, 9)
valores[2]

5

In [23]:
# Tuplas tienen segmentacion
valores[2:4]

(5, 7)

In [24]:
# Tuplas son inmutables
valores[0] = 2

TypeError: 'tuple' object does not support item assignment

In [26]:
# tuplas son iterables
vocales = ('a', 'e', 'i', 'o', 'u')
for vocal in vocales:
    print(vocal.upper())

A
E
I
O
U

In [28]:
# empaque y desempaque de Tuplas
coordenadas = 4.21, 9.29
type(coordenadas)

tuple

In [29]:
x, y = coordenadas
print(x, y)

4.21 9.29

In [ ]:
nombre, edad, ocupacion = 'Adriaan', 34, 'programador'

In [31]:
print(nombre, edad, ocupacion)

Adriaan 34 programador

Esto funciona porque los valores de la derecha son insertados en una Tupla y luego los valores son desempacados en tres variables: nombres, edad y ocupacion.

### Revisando la existencia de valores con `in`

In [32]:
vocales = ('a', 'e', 'i', 'o', 'u')

In [33]:
'e' in vocales

True

In [34]:
'f' in vocales

False

### Retornando multiples valores de una funcion

In [35]:
# uso comun de de tuplas
def agrega_resta(num1, num2):
    return (num1 + num2), num1 - num2

In [36]:
agrega_resta(3, 2)

(5, 1)

### Ejercicios

1. Crea un literal de tupla llamado `numero_cardinales` que contiene los strings `primero`, `segundo` y `tercero` en ese orden.
2. Utilizando el indice y `print()`, muestra el string en el indice `1` en `numero_cardinales`.
3. Desempaca los valores en `numeros_cardinales` en tres (3) strings llamados `uno`, `dos`, `tres` en una lina de codigo, luego imprime cada valor en una linea separada.
4. Crea una tupla llamada `mi_nombre` que contiene las letras de su nombre utilizando `tuple()` y un literal de string.
5. Verifique si el caracter `x` esta en `mi_nombre` utilizando `in`.
6. Crea una Tupla que contiene todas excepto la primera letra en `mi_nombre` con el metodo de segmentacion.

## Listas son Secuencias Mutables

La estructura de dato `list` es otro tipo de secuencia en Python. Como los strings y las tuplas, las listan tambien contienen indices que empiezan desde `0`.

Podemos indexar, segmentar, verificar la existencia de un elemento con `in`, y podemos iterar sobre listas con un `for` loop.

A diferencia de las tuplas, sin embargo, las listas son **mutables**, por lo que el valor ubicado enun indice puede ser modificado despues que la lista haya sido creado.

En esta seccion aprenderemos como crear listas y compararlas con las tuplas.

## Creando Listas

Al igual que las tuplas, creamos listas con literales de lista y con el incorporado `list()`.

In [38]:
# se ve igual que una tupla, excepto se utilizan []
colores = ['rojo', 'amarillo' , 'verde', 'azul']
colores

['rojo', 'amarillo', 'verde', 'azul']

In [39]:
# podemos crear una lista con list()
list('verde')

['v', 'e', 'r', 'd', 'e']

In [40]:
# podemos crear una lista de un tuple
list(tuple('azul'))

['a', 'z', 'u', 'l']

In [42]:
# tambien podemos crear un list desde un string, con str.split()
cosas = 'cereal, avena, queso'
lista_de_cosas = cosas.split(', ')  # ', ' es el separador
lista_de_cosas

['cereal', 'avena', 'queso']

## Operaciones basicas

In [43]:
numeros = [1, 2, 3, 4]

In [44]:
numeros[1]

2

In [45]:
numeros[1:3]

[2, 3]

In [46]:
'7' in numeros

False

In [48]:
3 in numeros

True

In [55]:
for numero in numeros:
    if numero % 2 == 0:
        print(f'{numero} es par')
    else:
        print(f'{numero} es impar')

1 es impar
2 es par
3 es impar
4 es par

## Cambiando elementos en una lista

Las listas son mutables, por tanto podemos alterar el contenido de la misma, cambiando sus elementos.

Podemos pensar es una lista como una secuencia numerada de vacantes. Cada vacante sostiene un valor, y cada vacante debe estar llena en todo momento, pero podemos intercambiar un valor en una vacante por otro valor cuando queremos.

In [53]:
colores = ['amarillo', 'rojo', 'blanco']
colores[0] = 'azul'
colores

['azul', 'rojo', 'blanco']

In [54]:
colores[1:] = ['naranja', 'negro']
colores

['azul', 'naranja', 'negro']

## Metodos para agregar y eliminar elementos

`insert()`

In [56]:
# insert ingresa elementos individuales a la lista, tiene 2 parametros
colores = ['rojo', 'azul', 'blanco']
colores.insert(1, 'negro')  # el indice donde se ingresa, y el color
colores

['rojo', 'negro', 'azul', 'blanco']

`pop()`

In [57]:
# pop elimina el elemento ubicado en el indice dado o en el ultimo
color = colores.pop(1)

In [58]:
color

'negro'

In [59]:
colores

['rojo', 'azul', 'blanco']

In [60]:
# sin parametro, elimina el ultimo elemento
colores.pop()

'blanco'

In [61]:
colores

['rojo', 'azul']

`append()`

In [62]:
# append() agrega un elemento al final de la lista
colores.append('blanco')
colores

['rojo', 'azul', 'blanco']

`extend()`

In [63]:
# extend() se usa para agregar varios elementos al final de la lista
colores.extend(['negro', 'gris'])
colores

['rojo', 'azul', 'blanco', 'negro', 'gris']

## Lista de numeros

In [64]:
# obtengamos la suma de la lista
numeros = [1, 2, 3, 4, 5]
total = 0
for numero in numeros:
    total = total + numero
total

15

In [65]:
# podemos utilizar la funcion incorporada sum()
sum(numeros)  # sum() toma un iterable de numeros como parametro

15

In [66]:
sum([1, 2, 'letra'])  # no funciona

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [67]:
# obtener el valor minimo en una lista
min(numeros)

1

In [69]:
# el maximo
max(numeros)

5

### Ejercicios
1. Crea una lista llamada `comida` con dos elementos `arroz` y `lentejas`.
2. Agrega el string `pollo` a comida utilizando `append()`
3. Agrega el string `pan` y `pizza` a `comida` utilizando `extend()`
4. Imprime los dos primeros elementos de `comida` utilizando `print()` y segmentacion.
5. Imprime el ultimo elemento en la lista `comida` utilizando `print()` y el indice.
6. Crea una lista `desayuno` del string `huevo, fruta, jugo` utilizando el metodo `.split()`.
7. Verifica que `desayuno` tenga tres elementos usando `len()`

## Anidando, Copiando y Ordenando Tuplas y Listas

Ahora que haz aprendido lo que son las tuplas y las listas, como crearlas y como realizar algunas operaciones basicas, vamos a ver otros tres conceptos:
1. Anidar
2. Replicar
3. Ordenar

### Anidando listas y tuplas